/**
 * winter.css
 * Version 0.0.1
 * https://github.com/winterTechnologies/css
 *
 * 
 */

 :root {
    --text-color: #151515;
    --background-color: #fff;
    --border-radius: 11px;
 }
 
 @media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --background-color: #151515;
    }
 }
 *,
 ::after,
 ::before {
    background-color: var(--background-color);
    color: var(--text-color);
 }